body{
    font: 14px/1.4 'l', Arial, sans-serif;
 /*  	font-family: 'Bad Script', cursive;*/
	background-color: #3057A7;
}
*{
	transition: all .5s ease-in-out
}
/*HEADER STARTS*/
#header{
	padding-top: 15px;
	padding-left: 40px;
	margin-bottom: 12.6em;
}
#header .left{
	display: flex;
	justify-content: space-around;
}
#header .left img{
	width: 7%;
	height: 7%;
	margin-top: 8px;
}		
#header .left a{
	margin-left: 30px;
	text-decoration:none;
	color: #fff;
	margin-top: 7px;
    font-size: 1.6em;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#header a.bank{
	margin-left: -35px;
	font-size: 14px;
	margin-top: 4px;
	cursor: pointer
}
#header .left a:hover{
	background: rgba(255, 255, 255, .15);
}
#header a.bank:hover{
	background: rgba(255, 255, 255, 0);
}
#header .modal{
	display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
#header .modalContent{
	width: 340px;
	height: 100%;
	float: right;
	background-image: url(https://ibar.az/site/templates/style/img/contact_side.jpg);
	background-repeat: no-repeat
}
#header .close{
    color: black;
    float: right;
	padding-right: 30px;
    font-size: 55px;
    font-weight: bold;
	transition: all .5s cubic-bezier(1, 0, 0, 1);
	transform: rotate(0)
}
#header .close:hover,
#header .close:focus {
    color:forestgreen;
    text-decoration: none;
    cursor: pointer;
    transform: rotateX(360deg);
}
#header .modalContent h3{
	font-size: 25px;
    padding: 25px 40px;
	color: white;
    border-bottom: 1px solid lightblue;
}
#header .modalContent ul.informationModal{
	list-style: none;
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
}
#header .modalContent ul.informationModal li{
	font-size: 25px;
    color: white;
	cursor: pointer;
	padding:5px 0px;
}
#header .modalContent ul.informationModal li:hover{
	background:rgba(255, 255, 255, .15);
}
#myWrite{
	display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
#myWrite .writeUs{
	width: 340px;
	float: right;
	background-color: #3F63AB
}
#myWrite .writeUs h3{
	padding: 25px 50px;
    font-size: 20px;
    color: white;
}
#myWrite .writeUs h3 span.back{
    font-size: 38px;
    margin-top: -15px;
    margin-left: -37px;
    float: left;
    height: 31px;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
	cursor: pointer
}
#myWrite .bottom{
	padding: 10px 32px;
}
#myWrite .bottom h2{
	font-size: 19px;
    color: white;
}
#myWrite .bottom p{
	padding: 20px 0px;
    font-size: 15px;
    padding-bottom: 0;
	border-collapse: collapse
}
#myWrite .bottom input{
	width: 100%;
	background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
	padding: 8px 0 12px;
    font-size: 1.3em;
    color: #fff;
}
#myWrite .bottom h1{
	padding-top: 20px;
    color: white;
    padding-bottom: 20px;
    font-size: 15px;
}
#myWrite .bottom label{
	width: 50%;
	float: left;
    margin: 0;
	padding-bottom: 35px;
    cursor: pointer;
	color: #fff;
    opacity: 1;
}
#myWrite .bottom span{
    color: #fff;
    background: 0 0;
    width: 100%;
	padding: 12px 40px;
    text-align: center;
    line-height: normal !important;
}
 #myWrite .bottom  label>input{
	 display: none;
 }
 #myWrite .bottom  label>input[type=radio]:checked ~ span {
    background: rgba(255, 255, 255, .2);
}
#myWrite .bottom select{
	width: 100%;
    border: none;
	color: white;
    padding: 10px 0px;
	background: none;
	outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 30px;
}
#myWrite .bottom select option{
	color: black;
}
#myWrite textarea{
	height: 140px;
    resize:  none;
	border: none;
	outline: none;
	background: none;
	border-bottom: 2px solid rgba(255, 255, 255, .2);
    display: block;
    font-size: 1.3em;
    color: black;
    width: 100%;
    padding: 8px 0 12px;
}
.complete{
	padding: 0px 30px;
}
button#complete{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .1);
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px 0;
    transition: all .3s ease-out;
    cursor: pointer;
	outline: none;
}
button#complete:hover{
	    background: rgba(255, 255, 255, .2);
}
#header .col6{
	display: flex;
	justify-content: space-around;
	padding-top: 22px;
	padding-left: 30px;
}
#header .col6 ul li{
	display: inline;
	padding: 20px;
}
#header .col6 ul li a{
	color: white
}
#header .exchange {
	display: none
}
#header .exchange u{
	text-decoration: none
}
#header .col6 h4{
	padding: 10px;
	margin-top: -10px;
	color: #F2E4DE
}
#header .col6 h4{
	border-radius: 50px;
	border: 1px solid #617FBC
}
/*CONTENT STARTS*/
#content{
	width: 100%;
}
#barMenu{
	display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
#barMenu .menuContent{
	width: 755px;
	height: 100%;
	float: right;
	background-image: url(https://ibar.az/site/templates/style/img/all_site.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#barMenu .menuContent .title{
	display: flex;
	flex-direction: row;
	padding: 30px 43px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#barMenu .menuContent .title label#Ferdi{
    margin: 0;
    cursor: pointer;
	color: #fff;
    opacity: 1;
}
#barMenu .menuContent .title label#Ferdi span{
	display: inline;
	font-size: 23px;
	color: white;
	margin-left: 0px !important;
	margin-right: 30px;
	cursor: pointer
}
#barMenu .menuContent .title label#Ferdi>input[type=radio]:checked ~ span {
    background: rgba(255, 255, 255, .2);
}
#barMenu .menuContent .axtar {
	padding: 0px 27px;
	padding-right: 90px;
	margin-left: -25px;
}
#barMenu .menuContent .axtar input{
    display: inline-block;
	width: 100%;
	font-size: 1.8em;
    padding: 15px 35px 23px 43px;
	margin-top: 25px;
	background: none;
	border: none;
	outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
	cursor: auto;
}
#barMenu .col4{
	display: flex;
	flex-direction: column
}
#barMenu .col4 a{
	text-decoration: none
}
#barMenu .col4 ul{
	margin: 0px ;
	padding: 0px ;
}
#barMenu .col4 ul li{
	float: left;
	margin-left: 32px ;
	padding-left: 18px;
}
#barMenu .col4 a.header{
    color: whitesmoke;
    font-size: 30px;
    padding-top: 30px;
}
#barMenu .col4 ul li a.inside{
	color: white;
	font-size: 18px ;
	padding-top: 25px ;
}
#kreditlər a.header{
	margin-left: -10px;
}
#kreditlər ul li{
	margin-left: 29px !important;
	padding-left: 24px !important
}
#barMenu .korporativSlide{
	display: none
}







#content  .search{
	text-align: center;
	margin:0 auto;
    padding: 0px 0px;
    padding-bottom: 10px;
	margin-top: -20px;
    margin-left: -75px;
}
#content .search input.help{
	position: relative;
    width: 555px;
    outline: 0;
    font-size: 1.8em;
    display: block;
    padding: 0px 35px 20px 0px;
	margin-left: 563px;
	margin-top: -30px;
    border: none;
    color: white;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, .25);
    background-size: 26px;
    z-index: 1;
}
#content .search span{
    font-size: 2.3em;
    position: relative;
    padding: 14px;
	padding-left: 55px;
    margin-right: 91px;
    color: #fff;
    transition: .3s cubic-bezier(.52, .01, .16, 1);
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    top: 0;
    left: 0;
    transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}
#content .search i{
	font-size: 33px;
    padding: 14px;
    color: lightblue;
}	
#content .slider{
	width: 380px;
	height: 100%;
	margin-left: 83px;
	background-image:url(https://ibar.az/site/assets/files/4348/500x230-1.jpg);
	background-size: 100%; 
	background-repeat: no-repeat;
    filter: opacity(.5);
	border-radius: 20px;
	transition: all 0.5s ease-in-out
}
#content .slider .dot{
	display: inline-block;
	padding:10em 0px 0px 14px;
	transition: all .3s ease-in-out
}
#content .slider .dot i{
	color: darkslategray;
	cursor: pointer;
	font-size: 13px;
}
#content .slider .dot i:active{
	color: blue
}
#content .payments{
	width: 175px;
	height: 170px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .1);
	margin-left: 44px;
	cursor: pointer;
}
#content .payments:hover{
    z-index: 2;
    -webkit-transition:all .9s ease-in-out;
    -webkit-transform: scale(1.5);
    -ms-transition:all .9s ease-in-out;
    -ms-transform: scale(1.5);   
    -moz-transition:all .9s ease-in-out;
    -moz-transform: scale(1.5);
    transition: all .9s ease-in-out;
    transform: scale(1.03);
}
#content .payments h2{
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
}
#content .payments .col7{
	padding-top: 31px;
}
#content .payments img{
	width: 100px;
	height:100px;
	filter: opacity(.5);
}
#content .payments .col5{
	padding-top: 95px;
	padding-left: 16px;
}
#content .payments a{
	color: white;
	font-size: 11px;
}
/*FOOTER STARTS*/
#footer{
	padding:19em 5em 5em 5em;
}
#footer .contact{
	padding-left: 70px;
	filter: opacity(.3);
}
#footer .contact ul  li:hover a{
	text-decoration:none;
}
#footer .symbols{
	padding-left: 34px;
}
#footer .symbols img{
	width: 20%;
	height: 20%;
	filter: opacity(.3);
	padding-right: 20px
}
#footer .symbols a{
	text-decoration: none;
	color: 	white;
	font-size: 20px;
	filter: opacity(.3);
	padding-left: 20px;
	float: right;
	padding-top: 9px;
}
#footer .col5{
	margin-left: -10px
}
#footer .col5 ul {
	display: flex;
	justify-content: space-around;
}
#footer ul li a{
	color: #fff;
}
#footer ul li{
	margin-bottom: 13px;
}
#footer .info{
	display: flex;
	flex-direction: row;
}
#footer .info span ,p{
    color: #fff;
    font-size: .9em;
	padding-left: 22px;
}
#footer .info span{
	padding-left: 0px
}
#footer .contact ul{
	display: flex;
	flex-direction: row;
}
#footer ul li a{
	margin-right: 30px;
}
#footer
#footer .social{
	display: flex;
	justify-content: space-around;
	padding: 2px 76px 0px 0px;
	margin-left: -6px;
}
#footer .social i{
	font-size: 20px;
	margin-right: 3px;
	color: 	lightblue
}

/*Responsive starts*/
@media all and (max-width: 1320px) and (min-width: 1255px) {
		/*Header starts*/
		#header .main{
			display: flex;
			flex-direction: row;
    	}
    	#header .left a.bank{
    		font-size: 13px;
    		margin: 0px;
    		margin-top: 5px;
    	}
    	#header .left img{
    		width: 10%;
    		height: 10%;
    		margin-top: 8px;
    	}
    	/*Content starts*/
    	#content .inner{
    		padding-left: 0px;
    		margin-left: 42px;
    	}
		#content .search{
			margin-top: -70px;
		}
    	/*Footer starts*/
    	#footer div.col5 {
    		margin-left: -28px
    	}
    	#footer div.col5 ul li a, .info span{
    		margin: 0px;
    		padding: 0
    	}
    	#footer .info span, p{
    		font-size: 12px;
    	}
    	#footer .info span{
    		padding-left: 10px
    	}
    	#footer .contact{
    		margin-left: 28px
    	}
}
@media screen and (max-width: 1177px) and (min-width: 1140px){
		#header .main{
			display: flex;
			flex-direction: row;
    	}
    	#header .left a.bank{
    		font-size: 13px;
    		margin: 0px;
    		margin-top: 5px;
    	}
    	#header .left img{
    		width: 10%;
    		height: 10%;
    		margin-top: 8px;
    	}
    	/*Content starts*/
    	#content .inner{
    		padding-left: 0px;
    		margin-left: 0px;
    	}
		#content .search input.help {
			margin-left: 347px;
		}
		#content .slider{
			margin-left: -20px;
		}
		#content .search{
			margin-top: -70px;
		}
    	/*Footer starts*/
    	#footer div.col5 {
    		margin-left: -28px
    	}
    	#footer div.col5 ul li a, .info span{
    		margin: 0px;
    		padding: 0
    	}
    	#footer .info span, p{
    		font-size: 12px;
    	}
    	#footer .info span{
    		padding-left: 10px
    	}
    	#footer .contact{
    		margin-left: 28px
    	}
}	
@media screen and (max-width: 1139px) and (min-width: 890px){
	#header .main{
			display: flex;
			flex-direction: row;
    	}
    	#header .left a.bank{
    		font-size: 13px;
    		margin: 0px;
    		margin-top: 5px;
    	}
    	#header .left img{
    		width: 10%;
    		height: 10%;
    		margin-top: 8px;
    	}
    	/*Content starts*/
    	#content .inner{
    		padding-left: 0px;
    		margin-left: 0px;
    	}
		#content .search input.help {
			margin-left: 313px;
		}
		#content .slider{
			margin-left: -35xpx;
		}
		#content .search{
			margin-top: -70px;
		}
    	/*Footer starts*/
    	#footer div.col5 {
    		margin-left: -28px
    	}
    	#footer div.col5 ul li a, .info span{
    		margin: 0px;
    		padding: 0
    	}
    	#footer .info span, p{
    		font-size: 12px;
    	}
    	#footer .info span{
    		padding-left: 10px
    	}
    	#footer .contact{
    		margin-left: 28px
    	}
}
@media screen and (max-width: 890px) and (min-width: 790px) {
    	/*Header starts*/
    	#header .main{
			display: flex;
			flex-direction: row;
    	}
    	#header .left a.bank{
    		font-size: 10px;
    		margin: 0px
    	}
    	#header .left img{
    		width: 10%;
    		height: 10%;
    		margin-top:10px
    	}
    	/*Content starts*/
    	#content div.slider.col4{
    		margin: 0px;
    		margin-left: -8.4em
    	}
		#content .search input.help {
			margin-left: 163px;
		}
		#content .slider{
			margin-left: -35xpx;
		}
		#content .search{
			margin-top: -70px;
		}
    	/*Footer starts*/
		#footer .symbols, .contact, .social{
			display: none
		}
		#footer .col5 ul, p{
			display: none;
		}
		#footer .info span{
			font-size: 13px;
			margin-left: -29.3px
		}
}
@media screen and (max-width: 788px){
	#header .col6{
		display: none
	}
	#header .left :nth-child(3){
		display: none
	}
	#header .left :nth-child(4){
		display: none
	}
	#header .col5{
		margin-left: 10em
	}
	#header .left img{
		width: 17%;
		height: 17%;
	}
	#header .left a.bank{
		margin-left: -76px;
    	font-size: 17px;
	}
	/*Content*/
	#content div.slider.col4{
		margin: 0px;
		margin-left: -8.4em
	}
	#content .search input.help {
		margin-left: 163px;
	}
	#content .slider{
		margin-left: -55xpx;
	}
	#content .search{
		margin-top: -50px;
	}
	/*footer*/
		#footer .symbols, .contact, .social{
			display: none
		}
		#footer .col5 ul, p{
			display: none;
		}
		#footer .info{
			margin-left: 15px;
			margin-top: 38px;
		}
		#footer .info span{
			font-size: 12px;
		}
}

